kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: battlearena
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30000
        hostPort: 8000
        protocol: TCP
  - role: worker
  - role: worker
